/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap'); 



:root {
  --primary:#1aac83;
  --error: #e7195a;
}

*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;  
}

body{
  background: #f1f1f1;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
a{
  /* color: #333; */
  text-decoration: none;
}

.pages{
  width: 100%;
  padding: 20px;
}

.home {
  display: grid;
  grid-template-columns:3fr 1fr;
  gap: 100px;
}

.workout-details {
  background: #fff;
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}


/* New workout form */
label,input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}
form button{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: 'Poppins';
  border-radius: 4px;
  cursor: pointer;
}
div.error{
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

h1,h2,h3,h4,h5,h6,p,li,button,a{
  font-family: 'Outfit', sans-serif;
  color: white;
}